body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #0b0f1a;
  position: relative;
  color: white;
}

/* chuva */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  background-image: url("https://i.imgur.com/3i1xg5v.png");
  background-size: 300px;

  animation: rain 0.3s linear infinite;
  opacity: 0.3;
}

@keyframes rain {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(100px);
  }
}